.btn{
	padding:0.6rem 2rem;
	color: var(--light-primary);
	font-size: 1rem;
	cursor: pointer;
	width: 100%;
	text-align: center;
}
.btn:hover{
	color: var(--primary);
	background-color: #f5f5f5;
}
.mobile__btn{
	
}